<div class="header-wrapper"> 
  <h3>Ecommerce Store</h3>
  <div class="menu-btns">
    <!-- <a  routerLink="/ecommerce/user/products" mat-raised-button color="primary">
      <mat-icon>home</mat-icon>
      User Products
    </a>
    <a  routerLink="/ecommerce/admin/products" mat-raised-button color="primary">
      <mat-icon>search</mat-icon>
      Admin Products
    </a> -->
    <button (click)="onLogout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </div>    
</div>

